@page
@model MyApp.Namespace.AboutModel
@{
    /*Titel*/
    ViewData["Title"] = "Om mig";
}
<!-- HTML-innehåll om mig-->
<h1>Om mig - Erika Vestin</h1>
<article>
    <h2> Vem är jag? </h2>
    <p>Jag är en tjej i 30-årsåldern som bor i Fagervik, Timrå, utanför Sundsvall. Jag bor i villa med min man, Martin
        och min son, Matteo, snart 3 år. På min fritid gillar jag att baka, umgås med familj & vänner och träna.</p>
    <p>Jag är ideellt engagerad i Korpen där jag är gruppträningsinstruktör, ansvarig för hemsida, sociala medier och
        vice ordförande. De pass jag leder är till exempel Spinning, Styrketräning och Cirkelträning.</p>
</article>
<article>
    <h3>Utbildning</h3>
    <p>Jag läser fjärde och sista terminen på Webbutvecklingsprogrammet på Mittuniversitetet men funderar på att läsa
        ett tredje år. I så fall blir det programvaruteknik tillsammans med lite media och kommunikation. </p>
</article>