@page
@model IndexModel
@{ /*Title*/
    ViewData["Title"] = "Hem";
}
<!-- HTML-innehåll JS-skriver ut till DOM dynamiskt i article/ul-->
    <h1>Hem</h1>
    <article id="date-article">
        <h2>Datum & tid just nu</h2>
    </article>

<article id="weekday-article">
    <h3>Dagens veckodag</h3>
</article>
    

<article>
    <h3>Kurser jag har läst</h3>
    <ul id="course-list">

    </ul>
</article>